@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "burtons";
    src: url('../../public/Burtons.otf');

}
@font-face {
  font-family: "Poppins_Regular";
  src: url('../../public/Poppins-Regular.ttf');

}
@font-face {
  font-family: "Poppins_SemiBold";
  src: url('../../public/Poppins-SemiBold.ttf');

}
@layer base {
  html {
    @apply scroll-smooth;
  }
}